[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
plotly = "*"
qiskit = "*"
qiskit-experiments = "*"
qiskit-ibm-provider = "*"
qiskit-aer = "*"
qiskit-ibm-runtime = "*"

[dev-packages]

[requires]
python_version = "3.10"
